<div class="fbx-panel-trio-wrapper">
  <div>Selected: {{ selectedDataSource }}</div>

  <div class="fbx-panel-radio-button-trio">
    <fbx-panel-radio-button
        :iconPath="icon"
        v-model="selectedDataSource"
        value="option1"
    >
      <div slot="header">{{ headerText }}</div>
      <div slot="body">{{ bodyText }}</div>
    </fbx-panel-radio-button>

    <fbx-panel-radio-button
        :iconPath="icon2"
        v-model="selectedDataSource"
        value="option2"
    >
      <div slot="header">Option 2</div>
      <div slot="body">
        Dynamic HTML content <strong>is very handy</strong>
        <br />
        <pre>npm i -g npm</pre>
      </div>
    </fbx-panel-radio-button>

    <fbx-panel-radio-button
      v-model="selectedDataSource"
      value="option3"
    >
      <div slot="header">Option 3</div>
      <div slot="body">This option is the best</div>
    </fbx-panel-radio-button>
  </div>
</div>
